body {margin: 0; background-color: #f5f5f5}

/* NAV */
#nav ul {list-style: none; padding: 0; margin: 0; background-color: #3a3a3a; overflow: auto; position: fixed; height: 100%; font-family: sans-serif; z-index: 3}
#nav li {width: 80px; overflow: hidden;}
#nav a {color: #fff !important; text-decoration: none !important; font-size: 32px; display: block; text-align: center; margin-bottom: 10px}
#nav img {width: 100%; display: block}
#nav-links {position: relative; display: none; background-color: #333 !important; z-index: 2 !important}
#nav-links a {font-size: 24px margin: 0; padding: 10px 5px;}
#nav-links a:hover {background-color: #2a2a2a}
#nav-links.open {display: block; animation: slideRight 0.5s ease forwards;}

/* PAGE CONTENT */
#page-content {margin-left: 80px;  position: relative; overflow: hidden;}
#page-overlay {display: none; opacity: 0; background-color: #3a3a3a; position: fixed; width: 100vw; height: 100vh; top: 0; transition: 0.3s; overflow: hidden; z-index: 1;}
#page-overlay.open {display: block; opacity: 0.8;}

/* CARDS */
/* News Cards */
.news-card {margin: 2%; background-color: #fff; border-radius: 4px; box-shadow: 3px 3px 5px #ddd; overflow: hidden; font-family: sans-serif; width: auto; color: #3a3a3a}
.news-card-info {overflow: hidden;}
.news-card-info ul {list-style: none; margin: 0; padding: 0; overflow: hidden; max-height: 60px}
.news-card-info li {display: inline; overflow: hidden; float: left;}
.news-card-info li:first-child {max-width: 50px; padding: 5px}
.news-card-info li p {display: block; padding: 5px;}
.news-card-info img {border-radius: 50%; display: block;}
.news-author {display: none;}
.news-card img {display: block; float: left; clear: both; width: 100%;}
.news-card-flavor {width: 100%}
.news-card-flavor h2 {display: block; float: left; margin: 11px 22px;}
.news-card-flavor a {display: block; float: right; color: #3a3a3a !important; text-decoration: none !important;}
.news-card-preview {clear: both; display: none;}
.news-card-preview.open {display: block}
.news-card-preview p {margin: 10px 0 0 5px;}

/* ARTICLE */ 
#article {font-family: sans-serif; width: 70%; margin: 2%; border: 3px solid #3a3a3a; border-radius: 5px;}
#articleInfo {overflow: hidden; border-bottom: 3px solid #3a3a3a; padding: 5px; color: #3a3a3a}
#articleInfo img {display: block; width: 80px; height: 80px; border-radius: 50%; border: 2px solid #3a3a3a; float: left}
#articleAuthor {float: left; margin-left: 10px}
#articleTime {float: right; margin-right: 10px; text-align: right;}

/* FOOTER */
#footer {color: #fff; background-color: #3a3a3a; font-family: sans-serif; width: 100%; clear: both; padding: 5px; position: relative; top: 100px;}
.col-container {overflow: hidden;}
.col {width: 30%; float: left; text-align: center; display: table;}
.col a {color: #fff !important; display: table-row; height: 40px;}
.col:not(last-child) {margin-right: 3%;}
.disclaimer {text-align: center;}

/* GENERIC CLASSES */
.center {text-align: center;}

/* ANIMATIONS */
@keyframes slideUp {0%{top: 200px; opacity: 0;} 100%{top: 0; opacity: 1;}}
@keyframes slideUpRotate {0%{top: 500px; opacity: 0; transform: rotate(-90deg);} 100%{top: 0; opacity: 1; transform: rotate(0deg);}}
@keyframes come-in {to {transform: translateY(0);}}
@keyframes fadeIn {0%{opacity: 0} 100%{ opacity: 1}}
@keyframes slideRight {0%{left: 0} 100%{left: 80px}}

/* RESPONSIVE WEB DESIGN */
/* Portrait Tablets and Big Landscape Phones */
@media only screen and (min-width: 600px) {
  .news-card {width: 45%}
}
/* Landscape Tablets */
@media only screen and (min-width: 768px) {

}
/* Computers */
@media only screen and (min-width: 992px) {
  
}
