@import url('https://fonts.googleapis.com/css?family=Roboto');

body {margin: 0; background-color: #f0f0f0}

/* NAV */
#nav ul {list-style: none; padding: 0; margin: 0; background-color: #3a3a3a; overflow: auto; position: fixed; height: 100%; font-family: sans-serif; z-index: 3}
#nav li {width: 80px; overflow: hidden;}
#nav a {color: #fff !important; text-decoration: none !important; font-size: 32px; display: block; text-align: center; margin-bottom: 10px}
#nav img {width: 100%; display: block}
#nav-links {position: relative; display: none; background-color: #333 !important; z-index: 2 !important}
#nav-links li {width: auto}
#nav-links a {font-size: 24px; margin: 0; padding: 10px 5px;}
#nav-links a:hover {background-color: #2a2a2a}
#nav-links.open {display: block; animation: slideRight 0.5s ease forwards;}

/* PAGE CONTENT */
#page-content {margin-left: 80px;  position: relative; overflow: hidden;}
#page-overlay {display: none; opacity: 0; background-color: #3a3a3a; position: fixed; width: 100vw; height: 100vh; top: 0; overflow: hidden; z-index: 1;}
#page-overlay.open {display: block; opacity: 0.8; animation: fadeIn 1s ease forwards}

/* CARDS */
/* News Cards */
.news-card {margin: 2%; background-color: #fff; border-radius: 4px; box-shadow: 3px 3px 5px #ddd; overflow: hidden; font-family: sans-serif; width: auto; color: #3a3a3a; animation: zoomAndFadeInAndSpin 0.5s ease none}
.news-card-info {position: relative;}
.news-card-info ul {list-style: none; margin: 0; padding: 0; overflow: hidden; max-height: 60px}
.news-card-info li {display: inline; overflow: hidden; float: left;}
.news-card-info li:first-child {max-width: 50px; padding: 5px}
.news-card-info li p {display: block; padding: 5px;}
.news-card-info img {border-radius: 50%; display: block;}
.news-author {display: none; border-top: 1px solid #cecece; border-radius: 0 0 5px 0; padding: 5px; position: absolute; background-color: #fff; top: 60px; width: calc(80% - 12px); opacity: 0.9}
.news-author.open {display: block}
.news-card img {display: block; float: left; clear: both; width: 100%;}
.news-card-flavor {width: 100%}
.news-card-flavor h2 {display: block; float: left; margin: 11px; width: calc(100% - 56px)}
.news-card-flavor a {display: block; float: right; color: #3a3a3a !important; text-decoration: none !important;}
.news-card-preview {clear: both; display: none;}
.news-card-preview.open {display: block}
.news-card-preview p {margin: 11px;}

/* ARTICLE */ 
#articleInfo {overflow: hidden; padding: 5px; color: #3a3a3a; background-color: #fff; box-shadow: 0 3px 5px #ddd; font-family: sans-serif;}
#articleInfo h1 {margin: 10px; max-width: 100%;}
#author-placeholder img {border-radius: 50%; width: 80px; display: block; float: left}
#author-placeholder .news-author {border: none; opacity: 1; position: absolute; top: 152px; left: 0;}
#author-placeholder:hover .news-author {display: block}
#articleTime {float: right; margin-right: 10px; text-align: right;}
#article {font-family: 'Roboto', sans-serif; width: 70%; margin: 2% 0% 0% 15%;}

/* FOOTER */
#footer {color: #fff; background-color: #3a3a3a; font-family: sans-serif; width: 100%; clear: both; padding: 5px; position: relative; top: 100px;}
.col-container {overflow: hidden;}
.col {width: 30%; float: left; text-align: center; display: table;}
.col a {color: #fff !important; display: table-row; height: 40px;}
.col:not(last-child) {margin-right: 3%;}
.disclaimer {text-align: center;}

/* GENERIC CLASSES */
.center {text-align: center;}

/* ANIMATIONS */
@keyframes slideUp {0%{top: 200px; opacity: 0;} 100%{top: 0; opacity: 1;}}
@keyframes fadeIn {0%{opacity: 0} 100%{ opacity: 0.8}}
@keyframes slideRight {0%{left: 0} 100%{left: 80px}}
@keyframes zoomAndFadeInAndSpin {0%{transform: scale(0.1, 0.1) rotate(10deg); opacity: 0} 100%{transform: scale(1.1, 1.1) rotate(360deg); opacity: 1}}

/* RESPONSIVE WEB DESIGN */
/* Portrait Tablets and Big Landscape Phones */
@media only screen and (min-width: 600px) {
  .news-card {width: 45%}
}
/* Landscape Tablets */
@media only screen and (min-width: 768px) {

}
/* Computers */
@media only screen and (min-width: 992px) {
  
}
