body {margin: 0; background-color: #f5f5f5}

/* NAV */
/* General Style */
#nav li a, #nav img {display: block; text-decoration: none !important; color: #fff !important; font-family: sans-serif; margin: 0; padding: 0 20px; height: 80px; line-height: 5;}
#nav li {display: inline; float: left; transition: 0.3s;}
#nav li:first-child a, #nav li:first-child img {margin-left: 0; padding: 0;}
#nav ul {margin: 0; padding: 0; overflow: hidden; background-color: #3a3a3a;}
#nav ul li {list-style: none;}
#nav a img {height: 80px;}
/* Idle Nav */
#nav li:not(:first-child) {display: none;}
#nav li.icon {float: right; display: block; padding: 14px 20px; cursor: pointer; color: #fff; font-size: 32px;}
/* Open Nav */
#nav.responsive {position: relative;}
#nav.responsive li.icon {position: absolute; right: 0; top: 0;}
#nav.responsive li {float: none; display: block; text-align: center;}
#nav.responsive li:first-child {display: none;}

/* CARDS */
/* News Cards */
.card-container {font-family: sans-serif; overflow: hidden; border-radius: 5px; margin: 2%; padding: 2%; border: 1px solid #cecece; color: #f5f5f5; background-color: #3a3a3a;}
.news-card {width: 96%; float: left; margin: 2%; margin-bottom: 0; overflow: hidden; border-radius: 5px;  box-shadow: 0px 5px 5px #333; position: relative; top: 500px; opacity: 0; transform: rotate(-90deg); animation-name: slideUpRotate; animation-duration: 1s; animation-fill-mode: forwards;}
.newsImg {border-radius: 5px 5px 0 0;}
.newsImg img {width: 100%; border-radius: 5px 5px 0 0; display: block;}
.newsTxt {border: 1px solid #fff; border-top: 1px solid #cecece; border-radius: 0 0 5px 5px; background-color: #fff; color: #000; transition: 0.3s; text-align: center; padding: 5%;}
.newsTxt:hover {background-color: #f55; color: #fff; border: 1px solid #f55}
.newsTxt a {color: #000; text-decoration: none; transition: 0.3s}
.newsTxt:hover a {color: #fff}
.news-card .info {opacity: 0.8; transition: 0.5s; color: #fff; background-color: #000; position: absolute; bottom: 0; left: 0; right: 0; overflow: hidden; height: 0; border-radius: 5px;}
.newsImg:hover .info {height: 100%;}
.info a {color: #fff !important; position: absolute; bottom: 2%; right: 2%;}
.info p {padding: 2%;}

/* ARTICLE */ 
#article {font-family: sans-serif; width: 70%; margin: 2%; border: 3px solid #3a3a3a; border-radius: 5px;}
#articleInfo {overflow: hidden; border-bottom: 3px solid #3a3a3a; padding: 5px; color: #3a3a3a}
#articleInfo img {display: block; width: 80px; height: 80px; border-radius: 50%; border: 2px solid #3a3a3a; float: left}
#articleAuthor {float: left; margin-left: 10px}
#articleTime {float: right; margin-right: 10px; text-align: right;}

/* FOOTER */
#footer {color: #fff; background-color: #3a3a3a; font-family: sans-serif; width: 100%; clear: both; padding: 5px; position: relative; top: 100px;}
.col-container {overflow: hidden;}
.col {width: 30%; float: left; text-align: center; display: table;}
.col a {color: #fff !important; display: table-row; height: 40px;}
.col:not(last-child) {margin-right: 3%;}
.disclaimer {text-align: center;}

/* GENERIC CLASSES */
.center {text-align: center;}

/* ANIMATIONS */
@keyframes slideUp {0%{top: 200px; opacity: 0;} 100% {top: 0; opacity: 1;}}
@keyframes slideUpRotate {0%{top: 500px; opacity: 0; transform: rotate(-90deg);} 100%{top: 0; opacity: 1; transform: rotate(0deg);}}

/* RESPONSIVE WEB DESIGN */
/* Portrait Tablets and Big Landscape Phones */
@media only screen and (min-width: 600px) {
	/* Cards */
	.news-card {width: 32%; margin: 1%; margin-bottom: 0;}
	.news-card:nth-of-type(1) {width: 47%; margin: 2%}
	.news-card:nth-of-type(2) {width: 47%; margin: 2%}
	.news-card:not(:nth-of-type(1)):not(:nth-of-type(3)) {margin-left: 0;}
}
/* Landscape Tablets */
@media only screen and (min-width: 768px) {
	/* Cards */
	.news-card {width: 32%; margin: 1%; margin-bottom: 0;}
	.news-card:nth-of-type(1) {width: 47%; margin: 2%}
	.news-card:nth-of-type(2) {width: 47%; margin: 2%}
	.news-card:not(:nth-of-type(1)):not(:nth-of-type(3)) {margin-left: 0;}
}
/* Computers */
@media only screen and (min-width: 992px) {
	/* Navigation */
	#nav .icon {display: none !important;}
	#nav li:not(:first-child) {display: inline; float: left; transition: 0.3s;}
	#nav li:hover {background-color: #000;}
	/* Cards */
	.news-card {width: 14% !important; float: left; margin: 5%;}
	.news-card:nth-of-type(1) {margin: 5%}
	.news-card:nth-of-type(2) {margin: 5%}
	.news-card:not(:nth-of-type(1)) {margin-left: 0;}
}
