/*===================================
  Imports and the misc. styling
  ===================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {margin: 0; padding: 0; background-color: #f4f4f4;}

/*===================================
  Top Navigation
  ===================================*/
#top-nav {font-family: sans-serif; z-index: 1}
#top-nav ul {list-style: none; margin: 0; padding: 0; overflow: hidden; background-color: #3a3a3a}
#top-nav li {float: left; max-height: 60px;}
#top-nav li:nth-child(even) {background-color: #333}
#top-nav li:last-child {float: right}
#top-nav li.menu-icon a {display: none; background-color: #333;}
#top-nav a {display: block; color: #fff; text-decoration: none; padding: 21px 15px; transition: 0.3s;}
#top-nav li:last-child a {padding: 0;}
#top-nav a:hover {background-color: #222 !important}
#top-nav img {display: block; width: 60px}
#top-nav li.dropdown.open {clear: both; width: 100%}
#top-nav li.dropdown.open a {display: block !important; width: 100% !important}
.dropdown-link {text-align: center}
.dropdown-links {display: none; position: absolute; text-align: center;}
#top-nav li:nth-child(odd) .dropdown-links a:nth-child(odd) {background-color: #333}
#top-nav li:nth-child(odd) .dropdown-links a:nth-child(even) {background-color: #3a3a3a}
#top-nav li:nth-child(even) .dropdown-links a:nth-child(odd) {background-color: #3a3a3a}
#top-nav li:nth-child(even) .dropdown-links a:nth-child(even) {background-color: #333}
.dropdown:hover .dropdown-links {display: block}

/*===================================
  Tabs
  ===================================*/
.tab {overflow: hidden; width: auto; background-color: #444; margin: 21px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); border-radius: 2px}
.tab button {border: none; padding: 10px; cursor: pointer; color: white; background-color: #444; display: inline; padding: 16px; transition: 0.3s;}
.tab button:focus {outline: none}
.tab button:hover {background-color: #3a3a3a}
.tab button.active {background-color: #5bbbff;}
.tabcontent {display: none; margin: 20px; font-family: 'Roboto', sans-serif}

/*===================================
  Cards
  ===================================*/
/* Text Card */
.text-card-group {clear: both; overflow: hidden; padding: 1px;}
.text-card {padding: 10px; border: 1px solid #ddd; background-color: #fff; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); margin-bottom: 10px; border-radius: 2px}
.text-card img {width: 100%;}
.text-card table {border-collapse: collapse; width: 100%;}
.text-card td {text-align: center; padding: 10px; border: 1px solid #fff; width: 50%; color: #fff; transition: 0.3s}
.text-card td:nth-child(odd) {background-color: #5bbbff;}
.text-card td:nth-child(odd):hover {background-color: #5aaaff}
.text-card td:nth-child(even) {background-color: #3a3a3a}
.text-card td:nth-child(even):hover {background-color: #333}
.text-card.full-height {height: calc(100% - 32px);}
.text-card.half-height {height: calc(50% - 32px)}
.text-card.left {width: calc(50% - 28px); float: left; clear: left;}
.text-card.right {width: calc(50% - 28px); float: right; clear: right;}
/* Animal Card */
.animal-card-group {overflow: hidden}
.animal-card {width: calc(50% - 5px); overflow: hidden; background-color: #fff;  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); float: right; transition: 0.3s; margin-bottom: 10px; border-radius: 2px}
.animal-card:nth-child(odd) {float: left}
.animal-card:hover {box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05)}
.animal-img  img {width: 100%; display: block}
.animal-name {text-align: center; font-weight: bold;}

/*===================================
  Misc.
  ===================================*/
/* Some animal card stuff */
#animal-name {margin-left: 20px; font-family: sans-serif;}
#animal-pronunciation {margin-left: 20px; font-family: sans-serif;}
/* iFrame */
iframe {width: 100%}

/*===================================
  Animations
  ===================================*/

/*===================================
  Responsive Navigation
  We are gangsters and did a computer-
  first approach, take that, phone
  users (Probably gonna affect SEO)
  ===================================*/
@media only screen and (max-width: 767px) {
	#top-nav li:not(:first-child):not(:last-child) a {display: none}
	#top-nav li.menu-icon a {display: block !important;}
	.dropdown:hover .dropdown-links {display: none}
}

@media only screen and (max-width: 511px) {
	.animal-card {width: 100%}
	.text-card.right, .text-card.left {width: calc(100% - 21px);}
	.text-card.right {float: left}
	.text-card.full-height, .text-card.half-height {height: auto}
}

@media only screen and (max-width: 384px) {
	.tab button {width: 100%}
}

/* This one is for the trolls who want the nav as tiny as possible. Hopefully the smallest width is 320px */
@media only screen and (max-width: 318px) {
	#top-nav li {width: 50%}
	#top-nav li a {text-align: center;}
	#top-nav img {margin: auto}
	#top-nav li:first-child {width: 100%; text-align: center;}
}
